:root {
	/* Primary Colors */
	--navy: #2c3e50; /* Soft Navy */
	--sand: #f4e3c1; /* Warm Sand */

	/* Accent Colors */
	--coral: #e74c3c; /* Deep Coral */
	--green: #8eac50; /* Sage Green */

	/* Neutral Colors */
	--light: #ffffff; /* Pure White */
	--dark: #202020; /* Charcoal Gray */

    --font-header: 'Playfair Display', serif;
    --font-body: 'Open Sans', sans-serif;
}

* {
	margin: 0;
	padding: 0;
}

body {
    font-family: var(--font-body);
    font-size: 16px;
    color: var(--dark);
    line-height: 1.6;
  }
  
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-header);
    color: var(--navy);
}

a {
    color: inherit;
    text-decoration: none;
}


header {
    color: var(--dark);
    position: fixed;
    width: 100%;
    transition: all 0.3s ease;

}

header.box {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    background-color: var(--navy);
    color: var(--light);
}

nav {

    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    padding: 10px 15px;
}

nav div ul {
    list-style: none;
    display: flex; gap: 15px;

}

main {
    height: 1000px;
}